<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.game.mapper.FontanaBetLylotContentMapper">
  <resultMap id="BaseResultMap" type="com.ly.game.model.FontanaBetLylotContent">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="betNum" jdbcType="VARCHAR" property="betnum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ly.game.model.FontanaBetLylotContent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, betNum
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FONTANA_BET_LYLOT_CONTENT
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from FONTANA_BET_LYLOT_CONTENT
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.ly.game.model.FontanaBetLylotContent">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_LYLOT_CONTENT (betNum, content)
    values (#{betnum,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  
  <insert id="insertReplaceRecordBatch" useGeneratedKeys="true">
   	   REPLACE into FONTANA_BET_LYLOT_CONTENT (betNum, content)
    	values  
         <foreach collection="list" item="item" index="index" separator="," > 
	         (#{item.betnum,jdbcType=VARCHAR}, #{item.content,jdbcType=LONGVARCHAR})
	     </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.ly.game.model.FontanaBetLylotContent">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_LYLOT_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        betNum,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.game.model.FontanaBetLylotContent">
    update FONTANA_BET_LYLOT_CONTENT
    <set>
      <if test="betnum != null">
        betNum = #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ly.game.model.FontanaBetLylotContent">
    update FONTANA_BET_LYLOT_CONTENT
    set betNum = #{betnum,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.game.model.FontanaBetLylotContent">
    update FONTANA_BET_LYLOT_CONTENT
    set betNum = #{betnum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>