<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.game.mapper.FontanaBetPt2Mapper">
  <resultMap id="BaseResultMap" type="com.ly.game.model.FontanaBetPt2">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="betNum" jdbcType="VARCHAR" property="betnum" />
    <result column="uid" jdbcType="NUMERIC" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="cid" jdbcType="NUMERIC" property="cid" />
    <result column="betTime" jdbcType="TIMESTAMP" property="bettime" />
    <result column="betAmount" jdbcType="NUMERIC" property="betamount" />
    <result column="validAmount" jdbcType="NUMERIC" property="validamount" />
    <result column="result" jdbcType="NUMERIC" property="result" />
    <result column="groupfor" jdbcType="TIMESTAMP" property="groupfor" />
    <result column="pid" jdbcType="NUMERIC" property="pid" />
    <result column="gid" jdbcType="NUMERIC" property="gid" />
    <result column="aid" jdbcType="NUMERIC" property="aid" />
    <result column="sid" jdbcType="NUMERIC" property="sid" />
    <result column="gameId" jdbcType="NUMERIC" property="gameid" />
    <result column="gameType" jdbcType="NUMERIC" property="gametype" />
    <result column="rotaryType" jdbcType="NUMERIC" property="rotarytype" />
    <result column="gameDate" jdbcType="NUMERIC" property="gamedate" />
    <result column="startChips" jdbcType="NUMERIC" property="startchips" />
    <result column="endChips" jdbcType="NUMERIC" property="endchips" />
    <result column="allWins" jdbcType="NUMERIC" property="allwins" />
    <result column="collectId" jdbcType="NUMERIC" property="collectid" />
    <result column="dollarBallBets" jdbcType="NUMERIC" property="dollarballbets" />
    <result column="dollarBallBonus" jdbcType="NUMERIC" property="dollarballbonus" />
    <result column="jackpotBonus" jdbcType="NUMERIC" property="jackpotbonus" />
    <result column="jpContri" jdbcType="NUMERIC" property="jpcontri" />
    <result column="dbJp" jdbcType="NUMERIC" property="dbjp" />
    <result column="dbJpContri" jdbcType="NUMERIC" property="dbjpcontri" />
    <result column="pfee" jdbcType="NUMERIC" property="pfee" />
    <result column="gamename" jdbcType="VARCHAR" property="gamename" />
  </resultMap>
  <sql id="Base_Column_List">
    id, betNum, `uid`, username, cid, betTime, betAmount, validAmount, `result`, groupfor, 
    pid, gid, aid, sid, gameId, gameType, rotaryType, gameDate, startChips, endChips, 
    allWins, collectId, dollarBallBets, dollarBallBonus, jackpotBonus, jpContri, dbJp, 
    dbJpContri, pfee, gamename
  </sql>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FONTANA_BET_PT2
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from FONTANA_BET_PT2
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.ly.game.model.FontanaBetPt2">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_PT2 (betNum, `uid`, username, 
      cid, betTime, betAmount, 
      validAmount, `result`, groupfor, 
      pid, gid, aid, sid, 
      gameId, gameType, rotaryType, 
      gameDate, startChips, endChips, 
      allWins, collectId, dollarBallBets, 
      dollarBallBonus, jackpotBonus, jpContri, 
      dbJp, dbJpContri, pfee, 
      gamename)
    values (#{betnum,jdbcType=VARCHAR}, #{uid,jdbcType=NUMERIC}, #{username,jdbcType=VARCHAR}, 
      #{cid,jdbcType=NUMERIC}, #{bettime,jdbcType=TIMESTAMP}, #{betamount,jdbcType=NUMERIC}, 
      #{validamount,jdbcType=NUMERIC}, #{result,jdbcType=NUMERIC}, #{groupfor,jdbcType=TIMESTAMP}, 
      #{pid,jdbcType=NUMERIC}, #{gid,jdbcType=NUMERIC}, #{aid,jdbcType=NUMERIC}, #{sid,jdbcType=NUMERIC}, 
      #{gameid,jdbcType=NUMERIC}, #{gametype,jdbcType=NUMERIC}, #{rotarytype,jdbcType=NUMERIC}, 
      #{gamedate,jdbcType=NUMERIC}, #{startchips,jdbcType=NUMERIC}, #{endchips,jdbcType=NUMERIC}, 
      #{allwins,jdbcType=NUMERIC}, #{collectid,jdbcType=NUMERIC}, #{dollarballbets,jdbcType=NUMERIC}, 
      #{dollarballbonus,jdbcType=NUMERIC}, #{jackpotbonus,jdbcType=NUMERIC}, #{jpcontri,jdbcType=NUMERIC}, 
      #{dbjp,jdbcType=NUMERIC}, #{dbjpcontri,jdbcType=NUMERIC}, #{pfee,jdbcType=NUMERIC}, 
      #{gamename,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertReplaceRecordBatch" useGeneratedKeys="true">
   	   REPLACE into FONTANA_BET_PT2 (betNum, `uid`, username, 
	      cid, betTime, betAmount, 
	      validAmount, `result`, groupfor, 
	      pid, gid, aid, sid, 
	      gameId, gameType, rotaryType, 
	      gameDate, startChips, endChips, 
	      allWins, collectId, dollarBallBets, 
	      dollarBallBonus, jackpotBonus, jpContri, 
	      dbJp, dbJpContri, pfee, 
	      gamename)
	    values  
         <foreach collection="list" item="item" index="index" separator="," > 
	         (
	          #{item.betnum,jdbcType=VARCHAR}, #{item.uid,jdbcType=NUMERIC}, #{item.username,jdbcType=VARCHAR}, 
		      #{item.cid,jdbcType=NUMERIC}, #{item.bettime,jdbcType=TIMESTAMP}, #{item.betamount,jdbcType=NUMERIC}, 
		      #{item.validamount,jdbcType=NUMERIC}, #{item.result,jdbcType=NUMERIC}, #{item.groupfor,jdbcType=TIMESTAMP}, 
		      #{item.pid,jdbcType=NUMERIC}, #{item.gid,jdbcType=NUMERIC}, #{item.aid,jdbcType=NUMERIC}, #{item.sid,jdbcType=NUMERIC}, 
		      #{item.gameid,jdbcType=NUMERIC}, #{item.gametype,jdbcType=NUMERIC}, #{item.rotarytype,jdbcType=NUMERIC}, 
		      #{item.gamedate,jdbcType=NUMERIC}, #{item.startchips,jdbcType=NUMERIC}, #{item.endchips,jdbcType=NUMERIC}, 
		      #{item.allwins,jdbcType=NUMERIC}, #{item.collectid,jdbcType=NUMERIC}, #{item.dollarballbets,jdbcType=NUMERIC}, 
		      #{item.dollarballbonus,jdbcType=NUMERIC}, #{item.jackpotbonus,jdbcType=NUMERIC}, #{item.jpcontri,jdbcType=NUMERIC}, 
		      #{item.dbjp,jdbcType=NUMERIC}, #{item.dbjpcontri,jdbcType=NUMERIC}, #{item.pfee,jdbcType=NUMERIC}, 
		      #{item.gamename,jdbcType=VARCHAR}
		     )
	     </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.ly.game.model.FontanaBetPt2">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_PT2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        betNum,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="bettime != null">
        betTime,
      </if>
      <if test="betamount != null">
        betAmount,
      </if>
      <if test="validamount != null">
        validAmount,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="groupfor != null">
        groupfor,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="gameid != null">
        gameId,
      </if>
      <if test="gametype != null">
        gameType,
      </if>
      <if test="rotarytype != null">
        rotaryType,
      </if>
      <if test="gamedate != null">
        gameDate,
      </if>
      <if test="startchips != null">
        startChips,
      </if>
      <if test="endchips != null">
        endChips,
      </if>
      <if test="allwins != null">
        allWins,
      </if>
      <if test="collectid != null">
        collectId,
      </if>
      <if test="dollarballbets != null">
        dollarBallBets,
      </if>
      <if test="dollarballbonus != null">
        dollarBallBonus,
      </if>
      <if test="jackpotbonus != null">
        jackpotBonus,
      </if>
      <if test="jpcontri != null">
        jpContri,
      </if>
      <if test="dbjp != null">
        dbJp,
      </if>
      <if test="dbjpcontri != null">
        dbJpContri,
      </if>
      <if test="pfee != null">
        pfee,
      </if>
      <if test="gamename != null">
        gamename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="gameid != null">
        #{gameid,jdbcType=NUMERIC},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=NUMERIC},
      </if>
      <if test="rotarytype != null">
        #{rotarytype,jdbcType=NUMERIC},
      </if>
      <if test="gamedate != null">
        #{gamedate,jdbcType=NUMERIC},
      </if>
      <if test="startchips != null">
        #{startchips,jdbcType=NUMERIC},
      </if>
      <if test="endchips != null">
        #{endchips,jdbcType=NUMERIC},
      </if>
      <if test="allwins != null">
        #{allwins,jdbcType=NUMERIC},
      </if>
      <if test="collectid != null">
        #{collectid,jdbcType=NUMERIC},
      </if>
      <if test="dollarballbets != null">
        #{dollarballbets,jdbcType=NUMERIC},
      </if>
      <if test="dollarballbonus != null">
        #{dollarballbonus,jdbcType=NUMERIC},
      </if>
      <if test="jackpotbonus != null">
        #{jackpotbonus,jdbcType=NUMERIC},
      </if>
      <if test="jpcontri != null">
        #{jpcontri,jdbcType=NUMERIC},
      </if>
      <if test="dbjp != null">
        #{dbjp,jdbcType=NUMERIC},
      </if>
      <if test="dbjpcontri != null">
        #{dbjpcontri,jdbcType=NUMERIC},
      </if>
      <if test="pfee != null">
        #{pfee,jdbcType=NUMERIC},
      </if>
      <if test="gamename != null">
        #{gamename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.game.model.FontanaBetPt2">
    update FONTANA_BET_PT2
    <set>
      <if test="betnum != null">
        betNum = #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        betTime = #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        betAmount = #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        validAmount = #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        groupfor = #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=NUMERIC},
      </if>
      <if test="gameid != null">
        gameId = #{gameid,jdbcType=NUMERIC},
      </if>
      <if test="gametype != null">
        gameType = #{gametype,jdbcType=NUMERIC},
      </if>
      <if test="rotarytype != null">
        rotaryType = #{rotarytype,jdbcType=NUMERIC},
      </if>
      <if test="gamedate != null">
        gameDate = #{gamedate,jdbcType=NUMERIC},
      </if>
      <if test="startchips != null">
        startChips = #{startchips,jdbcType=NUMERIC},
      </if>
      <if test="endchips != null">
        endChips = #{endchips,jdbcType=NUMERIC},
      </if>
      <if test="allwins != null">
        allWins = #{allwins,jdbcType=NUMERIC},
      </if>
      <if test="collectid != null">
        collectId = #{collectid,jdbcType=NUMERIC},
      </if>
      <if test="dollarballbets != null">
        dollarBallBets = #{dollarballbets,jdbcType=NUMERIC},
      </if>
      <if test="dollarballbonus != null">
        dollarBallBonus = #{dollarballbonus,jdbcType=NUMERIC},
      </if>
      <if test="jackpotbonus != null">
        jackpotBonus = #{jackpotbonus,jdbcType=NUMERIC},
      </if>
      <if test="jpcontri != null">
        jpContri = #{jpcontri,jdbcType=NUMERIC},
      </if>
      <if test="dbjp != null">
        dbJp = #{dbjp,jdbcType=NUMERIC},
      </if>
      <if test="dbjpcontri != null">
        dbJpContri = #{dbjpcontri,jdbcType=NUMERIC},
      </if>
      <if test="pfee != null">
        pfee = #{pfee,jdbcType=NUMERIC},
      </if>
      <if test="gamename != null">
        gamename = #{gamename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.game.model.FontanaBetPt2">
    update FONTANA_BET_PT2
    set betNum = #{betnum,jdbcType=VARCHAR},
      `uid` = #{uid,jdbcType=NUMERIC},
      username = #{username,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=NUMERIC},
      betTime = #{bettime,jdbcType=TIMESTAMP},
      betAmount = #{betamount,jdbcType=NUMERIC},
      validAmount = #{validamount,jdbcType=NUMERIC},
      `result` = #{result,jdbcType=NUMERIC},
      groupfor = #{groupfor,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=NUMERIC},
      gid = #{gid,jdbcType=NUMERIC},
      aid = #{aid,jdbcType=NUMERIC},
      sid = #{sid,jdbcType=NUMERIC},
      gameId = #{gameid,jdbcType=NUMERIC},
      gameType = #{gametype,jdbcType=NUMERIC},
      rotaryType = #{rotarytype,jdbcType=NUMERIC},
      gameDate = #{gamedate,jdbcType=NUMERIC},
      startChips = #{startchips,jdbcType=NUMERIC},
      endChips = #{endchips,jdbcType=NUMERIC},
      allWins = #{allwins,jdbcType=NUMERIC},
      collectId = #{collectid,jdbcType=NUMERIC},
      dollarBallBets = #{dollarballbets,jdbcType=NUMERIC},
      dollarBallBonus = #{dollarballbonus,jdbcType=NUMERIC},
      jackpotBonus = #{jackpotbonus,jdbcType=NUMERIC},
      jpContri = #{jpcontri,jdbcType=NUMERIC},
      dbJp = #{dbjp,jdbcType=NUMERIC},
      dbJpContri = #{dbjpcontri,jdbcType=NUMERIC},
      pfee = #{pfee,jdbcType=NUMERIC},
      gamename = #{gamename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>