<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.game.mapper.FontanaBetVggameMapper">
  <resultMap id="BaseResultMap" type="com.ly.game.model.FontanaBetVggame">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="betNum" jdbcType="VARCHAR" property="betnum" />
    <result column="uid" jdbcType="NUMERIC" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="cid" jdbcType="NUMERIC" property="cid" />
    <result column="betTime" jdbcType="TIMESTAMP" property="bettime" />
    <result column="betAmount" jdbcType="NUMERIC" property="betamount" />
    <result column="validAmount" jdbcType="NUMERIC" property="validamount" />
    <result column="result" jdbcType="NUMERIC" property="result" />
    <result column="groupfor" jdbcType="TIMESTAMP" property="groupfor" />
    <result column="pid" jdbcType="NUMERIC" property="pid" />
    <result column="gid" jdbcType="NUMERIC" property="gid" />
    <result column="aid" jdbcType="NUMERIC" property="aid" />
    <result column="sid" jdbcType="NUMERIC" property="sid" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="gametype" jdbcType="SMALLINT" property="gametype" />
    <result column="roomId" jdbcType="VARCHAR" property="roomid" />
    <result column="tableId" jdbcType="VARCHAR" property="tableid" />
    <result column="roundId" jdbcType="VARCHAR" property="roundid" />
    <result column="betPoint" jdbcType="VARCHAR" property="betpoint" />
    <result column="odds" jdbcType="VARCHAR" property="odds" />
    <result column="serviceMoney" jdbcType="NUMERIC" property="servicemoney" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="isBanker" jdbcType="NUMERIC" property="isbanker" />
    <result column="gameInfo" jdbcType="VARCHAR" property="gameinfo" />
    <result column="gameResult" jdbcType="SMALLINT" property="gameresult" />
    <result column="beforBalance" jdbcType="NUMERIC" property="beforbalance" />
    <result column="info1" jdbcType="VARCHAR" property="info1" />
    <result column="info2" jdbcType="VARCHAR" property="info2" />
    <result column="info3" jdbcType="VARCHAR" property="info3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, betNum, `uid`, username, cid, betTime, betAmount, validAmount, `result`, groupfor, 
    pid, gid, aid, sid, `source`, channel, createtime, gametype, roomId, tableId, roundId, 
    betPoint, odds, serviceMoney, endtime, isBanker, gameInfo, gameResult, beforBalance, 
    info1, info2, info3
  </sql>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FONTANA_BET_VGGAME
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="exists" parameterType="String" resultType="java.lang.Integer" >
    select sum(a) from(
	    select count(1) as a from FONTANA_BET_VGGAME
	    where betNum = #{betNum,jdbcType=VARCHAR}
	    UNION ALL
	    select count(1) as a from ${bcvalue}.FONTANA_BETS_VGGAME
	    where betNum = #{betNum,jdbcType=VARCHAR}
    ) s
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from FONTANA_BET_VGGAME
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.ly.game.model.FontanaBetVggame">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_VGGAME (betNum, `uid`, username, 
      cid, betTime, betAmount, 
      validAmount, `result`, groupfor, 
      pid, gid, aid, sid, 
      `source`, channel, createtime, 
      gametype, roomId, tableId, 
      roundId, betPoint, odds, 
      serviceMoney, endtime, isBanker, 
      gameInfo, gameResult, beforBalance, 
      info1, info2, info3
      )
    values (#{betnum,jdbcType=VARCHAR}, #{uid,jdbcType=NUMERIC}, #{username,jdbcType=VARCHAR}, 
      #{cid,jdbcType=NUMERIC}, #{bettime,jdbcType=TIMESTAMP}, #{betamount,jdbcType=NUMERIC}, 
      #{validamount,jdbcType=NUMERIC}, #{result,jdbcType=NUMERIC}, #{groupfor,jdbcType=TIMESTAMP}, 
      #{pid,jdbcType=NUMERIC}, #{gid,jdbcType=NUMERIC}, #{aid,jdbcType=NUMERIC}, #{sid,jdbcType=NUMERIC}, 
      #{source,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{gametype,jdbcType=SMALLINT}, #{roomid,jdbcType=VARCHAR}, #{tableid,jdbcType=VARCHAR}, 
      #{roundid,jdbcType=VARCHAR}, #{betpoint,jdbcType=VARCHAR}, #{odds,jdbcType=VARCHAR}, 
      #{servicemoney,jdbcType=NUMERIC}, #{endtime,jdbcType=TIMESTAMP}, #{isbanker,jdbcType=NUMERIC}, 
      #{gameinfo,jdbcType=VARCHAR}, #{gameresult,jdbcType=SMALLINT}, #{beforbalance,jdbcType=NUMERIC}, 
      #{info1,jdbcType=VARCHAR}, #{info2,jdbcType=VARCHAR}, #{info3,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertReplaceRecordBatch" useGeneratedKeys="true">
   	   REPLACE into FONTANA_BET_VGGAME (betNum, `uid`, username, 
		      cid, betTime, betAmount, 
		      validAmount, `result`, groupfor, 
		      pid, gid, aid, sid, 
		      `source`, channel, createtime, 
		      gametype, roomId, tableId, 
		      roundId, betPoint, odds, 
		      serviceMoney, endtime, isBanker, 
		      gameInfo, gameResult, beforBalance, 
		      info1, info2, info3
		      )
		    values  
         <foreach collection="list" item="item" index="index" separator="," > 
	         (
	          #{item.betnum,jdbcType=VARCHAR}, #{item.uid,jdbcType=NUMERIC}, #{item.username,jdbcType=VARCHAR}, 
		      #{item.cid,jdbcType=NUMERIC}, #{item.bettime,jdbcType=TIMESTAMP}, #{item.betamount,jdbcType=NUMERIC}, 
		      #{item.validamount,jdbcType=NUMERIC}, #{item.result,jdbcType=NUMERIC}, #{item.groupfor,jdbcType=TIMESTAMP}, 
		      #{item.pid,jdbcType=NUMERIC}, #{item.gid,jdbcType=NUMERIC}, #{item.aid,jdbcType=NUMERIC}, #{item.sid,jdbcType=NUMERIC}, 
		      #{item.source,jdbcType=VARCHAR}, #{item.channel,jdbcType=VARCHAR}, #{item.createtime,jdbcType=TIMESTAMP}, 
		      #{item.gametype,jdbcType=SMALLINT}, #{item.roomid,jdbcType=VARCHAR}, #{item.tableid,jdbcType=VARCHAR}, 
		      #{item.roundid,jdbcType=VARCHAR}, #{item.betpoint,jdbcType=VARCHAR}, #{item.odds,jdbcType=VARCHAR}, 
		      #{item.servicemoney,jdbcType=NUMERIC}, #{item.endtime,jdbcType=TIMESTAMP}, #{item.isbanker,jdbcType=NUMERIC}, 
		      #{item.gameinfo,jdbcType=VARCHAR}, #{item.gameresult,jdbcType=SMALLINT}, #{item.beforbalance,jdbcType=NUMERIC}, 
		      #{item.info1,jdbcType=VARCHAR}, #{item.info2,jdbcType=VARCHAR}, #{item.info3,jdbcType=VARCHAR}
		     )
	     </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.ly.game.model.FontanaBetVggame">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_VGGAME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        betNum,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="bettime != null">
        betTime,
      </if>
      <if test="betamount != null">
        betAmount,
      </if>
      <if test="validamount != null">
        validAmount,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="groupfor != null">
        groupfor,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="gametype != null">
        gametype,
      </if>
      <if test="roomid != null">
        roomId,
      </if>
      <if test="tableid != null">
        tableId,
      </if>
      <if test="roundid != null">
        roundId,
      </if>
      <if test="betpoint != null">
        betPoint,
      </if>
      <if test="odds != null">
        odds,
      </if>
      <if test="servicemoney != null">
        serviceMoney,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="isbanker != null">
        isBanker,
      </if>
      <if test="gameinfo != null">
        gameInfo,
      </if>
      <if test="gameresult != null">
        gameResult,
      </if>
      <if test="beforbalance != null">
        beforBalance,
      </if>
      <if test="info1 != null">
        info1,
      </if>
      <if test="info2 != null">
        info2,
      </if>
      <if test="info3 != null">
        info3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gametype != null">
        #{gametype,jdbcType=SMALLINT},
      </if>
      <if test="roomid != null">
        #{roomid,jdbcType=VARCHAR},
      </if>
      <if test="tableid != null">
        #{tableid,jdbcType=VARCHAR},
      </if>
      <if test="roundid != null">
        #{roundid,jdbcType=VARCHAR},
      </if>
      <if test="betpoint != null">
        #{betpoint,jdbcType=VARCHAR},
      </if>
      <if test="odds != null">
        #{odds,jdbcType=VARCHAR},
      </if>
      <if test="servicemoney != null">
        #{servicemoney,jdbcType=NUMERIC},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isbanker != null">
        #{isbanker,jdbcType=NUMERIC},
      </if>
      <if test="gameinfo != null">
        #{gameinfo,jdbcType=VARCHAR},
      </if>
      <if test="gameresult != null">
        #{gameresult,jdbcType=SMALLINT},
      </if>
      <if test="beforbalance != null">
        #{beforbalance,jdbcType=NUMERIC},
      </if>
      <if test="info1 != null">
        #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null">
        #{info2,jdbcType=VARCHAR},
      </if>
      <if test="info3 != null">
        #{info3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.game.model.FontanaBetVggame">
    update FONTANA_BET_VGGAME
    <set>
      <if test="betnum != null">
        betNum = #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        betTime = #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        betAmount = #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        validAmount = #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        groupfor = #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=NUMERIC},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gametype != null">
        gametype = #{gametype,jdbcType=SMALLINT},
      </if>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=VARCHAR},
      </if>
      <if test="tableid != null">
        tableId = #{tableid,jdbcType=VARCHAR},
      </if>
      <if test="roundid != null">
        roundId = #{roundid,jdbcType=VARCHAR},
      </if>
      <if test="betpoint != null">
        betPoint = #{betpoint,jdbcType=VARCHAR},
      </if>
      <if test="odds != null">
        odds = #{odds,jdbcType=VARCHAR},
      </if>
      <if test="servicemoney != null">
        serviceMoney = #{servicemoney,jdbcType=NUMERIC},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isbanker != null">
        isBanker = #{isbanker,jdbcType=NUMERIC},
      </if>
      <if test="gameinfo != null">
        gameInfo = #{gameinfo,jdbcType=VARCHAR},
      </if>
      <if test="gameresult != null">
        gameResult = #{gameresult,jdbcType=SMALLINT},
      </if>
      <if test="beforbalance != null">
        beforBalance = #{beforbalance,jdbcType=NUMERIC},
      </if>
      <if test="info1 != null">
        info1 = #{info1,jdbcType=VARCHAR},
      </if>
      <if test="info2 != null">
        info2 = #{info2,jdbcType=VARCHAR},
      </if>
      <if test="info3 != null">
        info3 = #{info3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.game.model.FontanaBetVggame">
    update FONTANA_BET_VGGAME
    set betNum = #{betnum,jdbcType=VARCHAR},
      `uid` = #{uid,jdbcType=NUMERIC},
      username = #{username,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=NUMERIC},
      betTime = #{bettime,jdbcType=TIMESTAMP},
      betAmount = #{betamount,jdbcType=NUMERIC},
      validAmount = #{validamount,jdbcType=NUMERIC},
      `result` = #{result,jdbcType=NUMERIC},
      groupfor = #{groupfor,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=NUMERIC},
      gid = #{gid,jdbcType=NUMERIC},
      aid = #{aid,jdbcType=NUMERIC},
      sid = #{sid,jdbcType=NUMERIC},
      `source` = #{source,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      gametype = #{gametype,jdbcType=SMALLINT},
      roomId = #{roomid,jdbcType=VARCHAR},
      tableId = #{tableid,jdbcType=VARCHAR},
      roundId = #{roundid,jdbcType=VARCHAR},
      betPoint = #{betpoint,jdbcType=VARCHAR},
      odds = #{odds,jdbcType=VARCHAR},
      serviceMoney = #{servicemoney,jdbcType=NUMERIC},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      isBanker = #{isbanker,jdbcType=NUMERIC},
      gameInfo = #{gameinfo,jdbcType=VARCHAR},
      gameResult = #{gameresult,jdbcType=SMALLINT},
      beforBalance = #{beforbalance,jdbcType=NUMERIC},
      info1 = #{info1,jdbcType=VARCHAR},
      info2 = #{info2,jdbcType=VARCHAR},
      info3 = #{info3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>