<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.game.mapper.FontanaBetLylotMapper">
  <resultMap id="BaseResultMap" type="com.ly.game.model.FontanaBetLylot">
    <id column="id" jdbcType="NUMERIC" property="id" />
    <result column="betNum" jdbcType="VARCHAR" property="betnum" />
    <result column="uid" jdbcType="NUMERIC" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="cid" jdbcType="NUMERIC" property="cid" />
    <result column="betTime" jdbcType="TIMESTAMP" property="bettime" />
    <result column="betAmount" jdbcType="NUMERIC" property="betamount" />
    <result column="validAmount" jdbcType="NUMERIC" property="validamount" />
    <result column="result" jdbcType="NUMERIC" property="result" />
    <result column="groupfor" jdbcType="TIMESTAMP" property="groupfor" />
    <result column="pid" jdbcType="NUMERIC" property="pid" />
    <result column="gid" jdbcType="NUMERIC" property="gid" />
    <result column="aid" jdbcType="NUMERIC" property="aid" />
    <result column="sid" jdbcType="NUMERIC" property="sid" />
    <result column="settleTime" jdbcType="TIMESTAMP" property="settletime" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="bettingBalance" jdbcType="NUMERIC" property="bettingbalance" />
    <result column="totalKickback" jdbcType="NUMERIC" property="totalkickback" />
    <result column="numberOfPeriod" jdbcType="VARCHAR" property="numberofperiod" />
    <result column="gameName" jdbcType="VARCHAR" property="gamename" />
    <result column="ipAddress" jdbcType="VARCHAR" property="ipaddress" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="betNumber" jdbcType="VARCHAR" property="betnumber" />
    <result column="ODDS" jdbcType="VARCHAR" property="odds" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="gamePlayName" jdbcType="VARCHAR" property="gameplayname" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="gameResult" jdbcType="VARCHAR" property="gameresult" />
    <result column="lotteryCreateTime" jdbcType="TIMESTAMP" property="lotterycreatetime" />
    <result column="winningStatus" jdbcType="SMALLINT" property="winningstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, betNum, `uid`, username, cid, betTime, betAmount, validAmount, `result`, groupfor, 
    pid, gid, aid, sid, settleTime, `status`, bettingBalance, totalKickback, numberOfPeriod, 
    gameName, ipAddress, times, betNumber, ODDS, content, gamePlayName, platform, gameResult, 
    lotteryCreateTime, winningStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FONTANA_BET_LYLOT
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <select id="exists" parameterType="String" resultType="java.lang.Integer" >
    select sum(a) from(
	    select count(1) as a from FONTANA_BET_LYLOT
	    where betNum = #{betnum,jdbcType=VARCHAR} and username=#{username,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR}
	    UNION ALL
	    select count(1) as a from ${bcvalue}.FONTANA_BETS_LYLOT
	    where betNum = #{betnum,jdbcType=VARCHAR} and username=#{username,jdbcType=VARCHAR} and status=#{status,jdbcType=VARCHAR}
    ) s
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from FONTANA_BET_LYLOT
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.ly.game.model.FontanaBetLylot">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_LYLOT (betNum, `uid`, username, 
      cid, betTime, betAmount, 
      validAmount, `result`, groupfor, 
      pid, gid, aid, sid, 
      settleTime, `status`, bettingBalance, 
      totalKickback, numberOfPeriod, gameName, 
      ipAddress, times, betNumber, 
      ODDS, content, gamePlayName, 
      platform, gameResult, lotteryCreateTime, 
      winningStatus)
    values (#{betnum,jdbcType=VARCHAR}, #{uid,jdbcType=NUMERIC}, #{username,jdbcType=VARCHAR}, 
      #{cid,jdbcType=NUMERIC}, #{bettime,jdbcType=TIMESTAMP}, #{betamount,jdbcType=NUMERIC}, 
      #{validamount,jdbcType=NUMERIC}, #{result,jdbcType=NUMERIC}, #{groupfor,jdbcType=TIMESTAMP}, 
      #{pid,jdbcType=NUMERIC}, #{gid,jdbcType=NUMERIC}, #{aid,jdbcType=NUMERIC}, #{sid,jdbcType=NUMERIC}, 
      #{settletime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{bettingbalance,jdbcType=NUMERIC}, 
      #{totalkickback,jdbcType=NUMERIC}, #{numberofperiod,jdbcType=VARCHAR}, #{gamename,jdbcType=VARCHAR}, 
      #{ipaddress,jdbcType=VARCHAR}, #{times,jdbcType=VARCHAR}, #{betnumber,jdbcType=VARCHAR}, 
      #{odds,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{gameplayname,jdbcType=VARCHAR}, 
      #{platform,jdbcType=VARCHAR}, #{gameresult,jdbcType=VARCHAR}, #{lotterycreatetime,jdbcType=TIMESTAMP}, 
      #{winningstatus,jdbcType=SMALLINT})
  </insert>
  
  <insert id="insertReplaceRecordBatch" useGeneratedKeys="true">
   	   REPLACE into FONTANA_BET_LYLOT (betNum, `uid`, username, 
	      cid, betTime, betAmount, 
	      validAmount, `result`, groupfor, 
	      pid, gid, aid, sid, 
	      settleTime, `status`, bettingBalance, 
	      totalKickback, numberOfPeriod, gameName, 
	      ipAddress, times, betNumber, 
	      ODDS, content, gamePlayName, 
	      platform, gameResult, lotteryCreateTime, 
	      winningStatus)
	    values  
         <foreach collection="list" item="item" index="index" separator="," > 
	         (
	          #{item.betnum,jdbcType=VARCHAR}, #{item.uid,jdbcType=NUMERIC}, #{item.username,jdbcType=VARCHAR}, 
		      #{item.cid,jdbcType=NUMERIC}, #{item.bettime,jdbcType=TIMESTAMP}, #{item.betamount,jdbcType=NUMERIC}, 
		      #{item.validamount,jdbcType=NUMERIC}, #{item.result,jdbcType=NUMERIC}, #{item.groupfor,jdbcType=TIMESTAMP}, 
		      #{item.pid,jdbcType=NUMERIC}, #{item.gid,jdbcType=NUMERIC}, #{item.aid,jdbcType=NUMERIC}, #{item.sid,jdbcType=NUMERIC}, 
		      #{item.settletime,jdbcType=TIMESTAMP}, #{item.status,jdbcType=SMALLINT}, #{item.bettingbalance,jdbcType=NUMERIC}, 
		      #{item.totalkickback,jdbcType=NUMERIC}, #{item.numberofperiod,jdbcType=VARCHAR}, #{item.gamename,jdbcType=VARCHAR}, 
		      #{item.ipaddress,jdbcType=VARCHAR}, #{item.times,jdbcType=VARCHAR}, #{item.betnumber,jdbcType=VARCHAR}, 
		      #{item.odds,jdbcType=VARCHAR}, #{item.content,jdbcType=VARCHAR}, #{item.gameplayname,jdbcType=VARCHAR}, 
		      #{item.platform,jdbcType=VARCHAR}, #{item.gameresult,jdbcType=VARCHAR}, #{item.lotterycreatetime,jdbcType=TIMESTAMP}, 
		      #{item.winningstatus,jdbcType=SMALLINT}
		     )
	     </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.ly.game.model.FontanaBetLylot">
    <selectKey keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into FONTANA_BET_LYLOT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        betNum,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="bettime != null">
        betTime,
      </if>
      <if test="betamount != null">
        betAmount,
      </if>
      <if test="validamount != null">
        validAmount,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="groupfor != null">
        groupfor,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="settletime != null">
        settleTime,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="bettingbalance != null">
        bettingBalance,
      </if>
      <if test="totalkickback != null">
        totalKickback,
      </if>
      <if test="numberofperiod != null">
        numberOfPeriod,
      </if>
      <if test="gamename != null">
        gameName,
      </if>
      <if test="ipaddress != null">
        ipAddress,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="betnumber != null">
        betNumber,
      </if>
      <if test="odds != null">
        ODDS,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="gameplayname != null">
        gamePlayName,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="gameresult != null">
        gameResult,
      </if>
      <if test="lotterycreatetime != null">
        lotteryCreateTime,
      </if>
      <if test="winningstatus != null">
        winningStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="betnum != null">
        #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="settletime != null">
        #{settletime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="bettingbalance != null">
        #{bettingbalance,jdbcType=NUMERIC},
      </if>
      <if test="totalkickback != null">
        #{totalkickback,jdbcType=NUMERIC},
      </if>
      <if test="numberofperiod != null">
        #{numberofperiod,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null">
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=VARCHAR},
      </if>
      <if test="betnumber != null">
        #{betnumber,jdbcType=VARCHAR},
      </if>
      <if test="odds != null">
        #{odds,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="gameplayname != null">
        #{gameplayname,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="gameresult != null">
        #{gameresult,jdbcType=VARCHAR},
      </if>
      <if test="lotterycreatetime != null">
        #{lotterycreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="winningstatus != null">
        #{winningstatus,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.game.model.FontanaBetLylot">
    update FONTANA_BET_LYLOT
    <set>
      <if test="betnum != null">
        betNum = #{betnum,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=NUMERIC},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=NUMERIC},
      </if>
      <if test="bettime != null">
        betTime = #{bettime,jdbcType=TIMESTAMP},
      </if>
      <if test="betamount != null">
        betAmount = #{betamount,jdbcType=NUMERIC},
      </if>
      <if test="validamount != null">
        validAmount = #{validamount,jdbcType=NUMERIC},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=NUMERIC},
      </if>
      <if test="groupfor != null">
        groupfor = #{groupfor,jdbcType=TIMESTAMP},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=NUMERIC},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=NUMERIC},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=NUMERIC},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=NUMERIC},
      </if>
      <if test="settletime != null">
        settleTime = #{settletime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=SMALLINT},
      </if>
      <if test="bettingbalance != null">
        bettingBalance = #{bettingbalance,jdbcType=NUMERIC},
      </if>
      <if test="totalkickback != null">
        totalKickback = #{totalkickback,jdbcType=NUMERIC},
      </if>
      <if test="numberofperiod != null">
        numberOfPeriod = #{numberofperiod,jdbcType=VARCHAR},
      </if>
      <if test="gamename != null">
        gameName = #{gamename,jdbcType=VARCHAR},
      </if>
      <if test="ipaddress != null">
        ipAddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=VARCHAR},
      </if>
      <if test="betnumber != null">
        betNumber = #{betnumber,jdbcType=VARCHAR},
      </if>
      <if test="odds != null">
        ODDS = #{odds,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="gameplayname != null">
        gamePlayName = #{gameplayname,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="gameresult != null">
        gameResult = #{gameresult,jdbcType=VARCHAR},
      </if>
      <if test="lotterycreatetime != null">
        lotteryCreateTime = #{lotterycreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="winningstatus != null">
        winningStatus = #{winningstatus,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.game.model.FontanaBetLylot">
    update FONTANA_BET_LYLOT
    set betNum = #{betnum,jdbcType=VARCHAR},
      `uid` = #{uid,jdbcType=NUMERIC},
      username = #{username,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=NUMERIC},
      betTime = #{bettime,jdbcType=TIMESTAMP},
      betAmount = #{betamount,jdbcType=NUMERIC},
      validAmount = #{validamount,jdbcType=NUMERIC},
      `result` = #{result,jdbcType=NUMERIC},
      groupfor = #{groupfor,jdbcType=TIMESTAMP},
      pid = #{pid,jdbcType=NUMERIC},
      gid = #{gid,jdbcType=NUMERIC},
      aid = #{aid,jdbcType=NUMERIC},
      sid = #{sid,jdbcType=NUMERIC},
      settleTime = #{settletime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=SMALLINT},
      bettingBalance = #{bettingbalance,jdbcType=NUMERIC},
      totalKickback = #{totalkickback,jdbcType=NUMERIC},
      numberOfPeriod = #{numberofperiod,jdbcType=VARCHAR},
      gameName = #{gamename,jdbcType=VARCHAR},
      ipAddress = #{ipaddress,jdbcType=VARCHAR},
      times = #{times,jdbcType=VARCHAR},
      betNumber = #{betnumber,jdbcType=VARCHAR},
      ODDS = #{odds,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      gamePlayName = #{gameplayname,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      gameResult = #{gameresult,jdbcType=VARCHAR},
      lotteryCreateTime = #{lotterycreatetime,jdbcType=TIMESTAMP},
      winningStatus = #{winningstatus,jdbcType=SMALLINT}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>